<%= stylesheet_link_tag 'new', :media => "all" %>

<div class="post-container">
    <p class="title">Post Form</p>
    <%= form_for(@tweet, :url => { controller:'tweets', action:'create'})do |f| %>
    <%= f.label :Words %>
        <br>
        <%= f.text_field :title,size: 140%>
        <br>
        <%= f.label :Name %>
        <%= f.text_field :name,size: 140%>
        <br>
        <%= f.label :Reason %>
        <%= f.text_field :body,size: 140%>
    <%= f.submit "Send"%>
    <br>
    <% end %>

    <%= form_for @tweet do |f| %>
        <%= f.label :content,"内容" %>
        <%= f.select :category, [["元気", "genki"], ["やる気", "yaruki"]], include_blank: "どの投稿？" %>
        <%= f.submit "投稿する" %>
    <% end %>
    
</div>

